body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  max-height:100%;
  overflow: hidden;
  background-color: rgb(82, 80, 78);
  display: flex;
  flex-direction: column;
  color: white;
}

.animsmooth {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

#content {
  flex: 30 0 0;
  display: flex;
}
@media (orientation: portrait) {
  #content {
    flex-direction:column;
  }
}

#left {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
}

#middle {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
}

#right {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
}

.render-container {
  /* width: 100%;
  height: 100%; */
  flex: 1 0 0;
  display: block;
  background-color: #646464;
}
