
.menu {
    display:flex;
    flex:1;
    flex-direction:row;
    background-color:rgb(56, 56, 56);
    color:white;
}

.menu-item {
    /* flex:1; */
    display:block;
    padding-top:0.2em;
    padding-bottom:0.2em;
    padding-left:0.5em;
    padding-right:0.5em;

    cursor:pointer;
}
.menu-item:hover {
    background-color:rgba(161, 92, 35, 0.322);
}

.menu-subdisplay {
    position:absolute;
    display:flex;
    flex-direction:column;
    background-color:rgb(56, 56, 56);
    color:rgb(175, 175, 175);
    padding-top:0.5em;
    padding-bottom:0.5em;
}