.toolbox {
  flex: 1;
}

.palette-button {
	flex: 1;
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: 5% 50%;
	max-height: 4em;
	background-color: #4b4b4b;
	border-radius: 0.5em;
	margin: 0.25em;
	cursor: pointer;
	text-align: right;
	color: inherit;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.palette-button:hover {
  background-color: #8d8d8d;
}